Python Basics

In [1]:
print('Hello world')

Hello world

In [2]:
print('''this "thing" great!''')

this "thing" great!

In [4]:
course = "Python for Beginners"
0print(course)

Python for Beginners

In [5]:
ex = "Hello World"
ex[:]

'Hello World'

In [6]:
ex[:5]

'Hello'

In [7]:
ex[:-1]

'Hello Worl'

In [8]:
ex[::-1]

'dlroW olleH'

In [9]:
print(type("hi"))
print(type(20))
print(type(0.5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [10]:
name = input('Name?')

Name?Saikiran

In [11]:
name

'Saikiran'

In [12]:
name = input('Name?\n')

Name?
Saikiran

In [14]:
First = "Saikiran"
Last = "Shirsand"
Age = 27
print(f'{First} {Last} {Age}')

Saikiran Shirsand 27

Converting Weight in Kg's to Pounds

In [15]:

name = str(input("Please enter your name"))
weight = input("May I know your Weight in Kgs Please?")
result = int(weight)*2.2
print(f"{'So'} {name} {'Your weight in pounds is'} {result} {'lbs'}")

Please enter your nameSaikiran
May I know your Weight in Kgs Please?50
So Saikiran Your weight in pounds is 110.00000000000001 lbs

String Methods

In [16]:
course = "Python for for Beginners"
print('Python' in course )

True

In [17]:
print('Course' in course)

False

In [18]:
course.replace('for', 'to', 1)

'Python to for Beginners'

In [19]:
len(course)

24

In [20]:
course.lower()

'python for for beginners'

In [21]:
course.upper()

'PYTHON FOR FOR BEGINNERS'

In [22]:
course.title()

'Python For For Beginners'

In [23]:
course.find('Python')

0

In [24]:
course.find("Sai")

-1

In [25]:
course.find("n",20, 21)

20

In [26]:
temp = int(input('Please enter the Temperature: \n'))

if temp > 30:
  print("It's a Hot day out there!")

elif temp < 13:
  print("It's a Cold day")

else:
  print("Pleasant day today")

Please enter the Temperature:
23
Pleasant day today

In [27]:
high_income = True
good_credit_score = False

if high_income or good_credit_score:
  print("Eligible for loan")

else:
  print("Not eligible")

Eligible for loan

In [28]:
price = 500000
good_credit_score = False

if good_credit_score:
  print("Awesome")
else:
  print("Not lucky today")

Not lucky today

Conditional looping

In [29]:
for number in range(5):
  print(number)

0
1
2
3
4

In [30]:
number

4

In [31]:
for number in range(1,10):
  print(number)

1
2
3
4
5
6
7
8
9

In [32]:
for number in range(0,21,3):
  print(number)

0
3
6
9
12
15
18

In [33]:
for number in range(5):
  print("Attempt", number)

Attempt 0
Attempt 1
Attempt 2
Attempt 3
Attempt 4

In [35]:
prices = [10,20,23,54,30]
type(prices)

list

In [36]:
prices = [10,20,23,54,30]
total = 0
for item in prices:
  total = total + item
  
print(f'{total}')

137

Find Largest Number From List

In [39]:
list1 = [10, 20, 99, 45, 4]
# sorting the list
list1.sort()

In [40]:
print("Largest element is:", list1[-1])

Largest element is: 99

In [41]:
#Using max() method
print("Largest element is:", max(list1))

Largest element is: 99

In [43]:
list2 = []
# asking number of elements to put in list
num = int(input("Enter number of elements in list: "))
# iterating till num to append elements in list
for i in range(1, num + 1):
    ele = int(input("Enter elements: "))
    list2.append(ele)
# print maximum element
print("Largest element is:", max(list2))

Enter number of elements in list: 5
Enter elements: 12
Enter elements: 65
Enter elements: 75
Enter elements: 10
Enter elements: 9
Largest element is: 75